header{
    background: #85CDF5;
}

.container{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

#info{
    display: flex;
	justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

#perfil{
    background: #FFFFFF;
    border: 4px solid #333333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#perfil h1{
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

    color: #000000
}

#perfil p{
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
}

#iden{
    display: flex;
    justify-content: space-around;
}

.dados input{
    background: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#nome input{
    width: 564px;
    height: 39px;
    margin-right: 10px;
}

#anos input{
    width: 177.14px;
    height: 39px;
}

#descri input{
    width: 760.98px;
    height: 250px;
}

#foto input{
    width: 760.98px;
    height: 39px;
}

#perfil button{
    width: 209px;
    height: 60px;
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #FFFFFF;
}

#infor{
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
}