header{
    background: #85CDF5;
}

.container{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

#info{
    display: flex;
	justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.nome{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.dados{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
    width: 400px;
}

.descr{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.descr p{
    text-align: baseline;
    max-width: 400px;
}

footer{
    background-color: #333333;
    height: 100px;
}