header{
    background: #85CDF5;
}

.container{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

#info{
    display: flex;
	justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.apresen{
    background: url("img/image.png");
    position: absolute;
    max-width: 1400px;
    width: 100%;
    height: 500px;
    /*left: 0px;
    top: 130px;
    background: rgba(0, 0, 0, 0.15); */
    background-size: cover;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#adote{
    width: 665px;
    height: 130px;
    left: 370px;


    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 130px;
    text-align: center;

    color: #FFFFFF;
}

#text{
    width: 630px;
    height: 75px;
    left: 385px;
    top: 413px;

    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

#sobre{
    background: #2C5680;
    position: absolute;
    width: 100%;
    height: 333px;
    left: 0px;
    top: 630px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#sobreap{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
    align-items: center;
}

#sobre h3{
    position: absolute;
    width: 112px;
    height: 65px;
    top: 5px;
    margin: 30px 0px 30px 0px;

    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;

    color: #DEB959;
}

#sobre p{
    position: absolute;
    width: 960px;
    height: 132px;
    left: 220px;

    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
}

#valores{
    position: absolute;
    width: 100%;
    height: 625px;
    left: 0px;
    top: 963px;

    background: #333333;
}

#val{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#valores h4{
    position: absolute;
    width: 139px;
    height: 65px;
    left: 610px;
    top: 10px;

    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;

    /* identical to box height */

    color: #DEB959;
}

#adj{
    position: absolute;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    top: 100px;
}

.emp{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    margin: 0px 30px 0px 30px;
}

.emp h5{
    position: absolute;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.emp img{
    margin-bottom: 150px;
}

.tex{
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    max-width: 200px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

